root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.y*ml]
indent_size = 2

[mod/**.txt]
# charset is currently not supported in VSC
# https://github.com/editorconfig/editorconfig-vscode/issues/35
# remove from settings.json when it works :)
charset = utf-8-bom
